<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="./pics/bimsa-logo.jpg">
    <link rel="stylesheet" href="main.css">
  </head>
	
  <body>
  
  <div id="container">

  	<h1>
      <a href="http://ymsc.tsinghua.edu.cn" target="_blank">
        <img src="./pics/bimsa-logo.jpg" height="80" width="248" alt="BIMSA Logo">
      </a>
  	  String Group at BIMSA
  	</h1>
  	
  	<div id="nav">
  	  <nav>
  	  <ul>
  	  	<li>
  	  	  <a href="index.html" class="active">Home</a>
  	  	</li>
  	  	<li class="dropdown">
  	  	  <a href="people.html" class="dropbtn">People</a>
  	  	  <div class="dropdown-content">
  	  	    <a href="people-faculty.html">Faculty</a>
  	  	    <a href="people-postdoc.html">Postdocs</a>
  	  	  </div>
  	  	</li>
  	  	<li class="dropdown">
  	  	  <a href="events.html">Events</a>
  	  	  <div class="dropdown-content">
  	  	    <a href="GeometryandPhysics.html">Geometry and Physics</a>
  	  	</li> 
  	  	</ul>
  	  </nav>
  	  <br>
  	  <br>
  	  <br>
  	</div><!-- nav -->

	<div class="container";style="text-align:right">
    
	  {{ content }}
    
	</div><!-- /.container -->
  	
  	<div id="footer">
      <!-- <a href="mailto:webmaster@theory.caltech.edu">webmaster@theory.caltech.edu</a>
      <br> -->
      ©2022 All members of BIMSA string group.
    </div><!-- #footer -->
  	
  </div><!-- #container -->
  
  </body>
  
</html>
