<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="./pics/bimsa-logo.jpg">
    <link rel="stylesheet" href="main.css">
  </head>
	
  <body>
	  <h1 style="text-align:left">
		<a href="http://www.bimsa.cn" target="_blank">
        		<img src="./pics/bimsa-logo.jpg" height="80" width="248" alt="BIMSA Logo">
		</a>
		&nbsp;&nbsp;&nbsp;
  	        <span>String Group at BIMSA</span>
  	</h1>
	<nav>
		<ul>
			<li>
				<a href="/index.html">Home</a>
			</li>
			<li>
				<a href="/people.html">People</a>
			</li>
			<li>
				<a href="/events.html">Events</a>
			</li> 
		</ul>
  	 </nav>

	<div class="container">
    
	  {{ content }}
    
	</div><!-- /.container -->
	 
	  <br>
  	  <br>
  	  <br>
  	
  	<footer style="position: fixed; bottom: 2.5em; width: 70%; text-align: right;font-family:'Courier New';">
		©2022 All members of BIMSA string group.
	</footer><!-- #footer -->
  
  </body>
  
</html>
